:root{ 
    --main-color: #DE59C6; 
    --primary: #18005C;
    --secondary: #D6D6FF;
    --secondary-dark: rgb(12, 12, 90);
    --text: #470057;
    --accent: #0032A0;
    --background: #fff;
}

.demo{ background-color: #eee; }

body {
    background: var(--secondary-dark)
    /* linear-gradient(#470057, #18005C); */
}

.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(70% + 1px);
    padding: 0 40px 0 0;
    margin: 20px;
    float: left;
}
.main-timeline .timeline-content{
    background: var(--main-color); /* #fff; */
    padding: 25px 25px 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    border-radius: 0 100px;
    border: 1px solid #DDD;
    display: block;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .title{
    color: var(--main-color); /* #fff; */
    background-color: #fff /*var(--main-color);*/;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 15px 15px 15px 30px;
    margin: 0 -75px 15px 0;
    border-radius: 0 50px;
    position: relative;
    z-index: 1;
}
.main-timeline .description{
    color: #fff;
    /* #888; */
    font-size: 1.5ch;
    letter-spacing: 1px;
    margin: 0 0 10px 30px;
}
.main-timeline .timeline-year{
    color: #fff /*var(--main-color);*/;
    font-size:2ch;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.main-timeline .timeline:nth-child(even){
    float: right; 
    padding: 0 0 0 40px;
    margin: 0 0 0 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 100px 0; }
.main-timeline .timeline:nth-child(even) .title{
    padding: 15px 15px 15px 100px;
    margin: 0 0 15px -75px;
    border-radius: 50px 0;
}
.main-timeline .timeline:nth-child(2){ --main-color: #9453F7; }
.main-timeline .timeline:nth-child(3){ --main-color: #CA52F8; }
.main-timeline .timeline:nth-child(4){ --main-color: #6784FA; }
.main-timeline .timeline:nth-child(5){ --main-color: #DE59C6; }
.main-timeline .timeline:nth-child(6){ --main-color: #9453F7; }
.main-timeline .timeline:nth-child(7){ --main-color: #CA52F8; }
.main-timeline .timeline:nth-child(8){ --main-color: #6784FA; }

.timeline-title {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}


@media screen and (max-width:900px){/*767px){*/
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 30px;
    }
}
@media screen and (max-width:479px){
    .main-timeline .timeline{ padding: 0 20px 0 0; }
    .main-timeline .timeline:nth-child(even){ padding: 0 0 0 20px; }
    .main-timeline .timeline-content{ padding: 15px; }
    .main-timeline .title{ margin: 0 -45px 15px 0; }
    .main-timeline .timeline:nth-child(even) .title{
        margin: 0 0 15px -45px;
        padding-left: 75px;
    }
}

.container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.exp_img {
    float: left;
    margin: 1ch;
}

.logo-right {
    border-radius: 50%;
    width: 20%;
    float: right;
}

.logo-left {
    border-radius: 50%;
    width: 20%;
}

.sub-main-pic {
    width: 40%;
}

.main-pic {
    width: 100%;
}

/* 
.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
} */